on: [push, pull_request]

name: CI

jobs:
  verify_schema:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: config

      - name: Install test dependencies
        run: python3 -m pip install pydantic pillow

      - name: Verify config
        run: python3 config/scripts/verify.py
